[2020-12-11 04:50] hbjydev opened #1 "Need to render a 404 page"
https://gohugo.io/templates/404/

[2020-12-11 06:43] mrlile opened #2 "The official website has compatibility issues under chrome"
![屏幕截图 2020-12-11 144226](https://user-images.githubusercontent.com/34380287/101871775-1dd19980-3bbf-11eb-9c3c-088bb9a2ed94.png)

[2020-12-11 06:47] pxdnbluesoul commented on #2
There's an entirely new SPA coming out soon (likely tomorrow) that should eliminate this issue (and indeed many others). Assigning to @hbjydev as the final resolution will come with a DNS change to the new site.

[2020-12-11 07:01] ressonix commented on #1
Added! 5d58f3056f5b43067035b47ed7a9d7545ce416e0

[2020-12-11 07:01] #1 closed

[2020-12-11 10:56] hbjydev commented on #2
That's right. To that end, I'll be closing this issue as it's no longer going to be relevant soon.

[2020-12-11 10:56] #2 closed

[2020-12-11 14:23] Elysweyr opened #6 "Slack invite link invalid and hardcoded"
Hi,

it seems that the slack invite link is invalid. (Also found on the PROD site)
https://join.slack.com/t/hpcng/shared_invite/zt-gy0st6mt-ijgUaSvfdeEOhfXXfIstrQ

In addition to that it seems that the value is hardcoded in the `index.html` file but not parameterized or similar. (e.g. https://github.com/rocky-linux/rockylinux.org/blob/f6ff1e105eca27fbba1467d128518f1e6b9c4387/public/index.html#L159

[2020-12-11 14:38] pxdnbluesoul commented on #6
We're aware of this, will have a new (permanent) link published soon, thank you for the report.

[2020-12-11 17:55] #6 closed

[2020-12-11 18:04] Elysweyr opened #9 "Hardcoded social links"
Hi,
since #7 was only a quick and dirty minimalistic fix of #6 and is not treating the whole problem of hardcoded URLs in general I'm creating another issue.

The same issue exists with all the social links like: twitter, reddit, forum, etc.

In addition to that I really don't understand why #7 was preferred over #5 which seems much better to me.

BR Dennis

[2020-12-11 18:20] Elysweyr commented on #9
I had a second look at #5 .... Nevermind.

[2020-12-11 18:52] ressonix commented on #9
I merged in #5 after fixing a bit of conflicts. If you have any other recommendations, feel free to open another issue :)

[2020-12-11 18:52] #9 closed

[2020-12-11 18:59] domingoruiz opened #10 "Create pages Get Involved and Get In Touch"
Hi. I have the idea that cretate a Get Involved page and Get In Touch page. If you agree with the idea, I could take care of it and propose a pull request. If you agree, it would be good if you assigned me the issue. I am also all ears for proposals for those pages.

Thanks you.

Bye.

[2020-12-11 19:32] ressonix commented on #10
I think we should hold off on any further changes for now. @hbjydev is working on a custom component library for us to use on a future version of the site, as currently TailwindUI's licensing would prevent users who don't own a license from contributing.

[2020-12-11 19:33] ressonix commented on #10
I do, however, think this would be a great idea for the future site!

[2020-12-11 19:34] hbjydev commented on #10
@ressonix That's gonna take me a long while to build out yet, so don't stop making improvements to this on my count just yet. Not unless they're Tailwind UI stuff - just try not to implement any more of that.

[2020-12-11 19:36] ressonix commented on #10
Okay, so we should try not to use any more TailwindUI components on the site and start implementing custom components? Just wanted to get further clarification on that part.

[2020-12-11 20:35] ressonix commented on #10
While I agree that Bootstrap would be easier to contribute with, I feel that TailwindCSS offers more flexibility and the ability to build custom components quickly. TailwindCSS also has tons of plugin support and makes it super easy to optimize our CSS files from the get-go.

It's one of those situations where one can be beneficial but limiting, and the other can be beneficial and more flexible bu

[2020-12-12 01:10] hbjydev opened #14 "Bring back "Documentation" menu item"
[We actually have a wiki now](https://wiki.rockylinux.org) so we need to bring back the "Documentation" link in our navbar.

@ressonix You're fine using the Tailwind UI stuff for this obviously, hence assigning it to you.

[2020-12-12 06:17] ressonix commented on #14
I will get started on this tonight. I'll have to work out a mobile menu, as well and I'll be using AlpineJS to animate that so it may be a bit. Thanks @hbjydev!

[2020-12-12 07:57] domingoruiz opened #16 "Multilanguage site"
Hi. I think we need to make our website multilanguage to reach more people. We could adapt the site to be multilanguage, and then ask the community to provide us with translations. I could take care of managing it, in case it is so, assign me the issue.

Thanks you.

Bye

[2020-12-12 07:59] domingoruiz commented on #10
Another option is the combination of Hugo and Bootstrap. It would be much simpler than the current one and we would continue to have the advantages.

[2020-12-12 08:01] ressonix opened #17 "Changing Language around CentOS"
From @brianclemens:

Assigning to @hbjydev since the message was targeted directly to him

[2020-12-12 08:14] ressonix commented on #16
Love the idea! What are your thoughts @hbjydev?

[2020-12-12 10:42] hbjydev commented on #16
It's a good idea, just need to figure out the best way to implement it in practice

[2020-12-12 10:44] #14 closed

[2020-12-12 10:45] domingoruiz commented on #16
[https://gohugo.io/content-management/multilingual/](https://gohugo.io/content-management/multilingual/)

[2020-12-12 10:54] rkujawa opened #18 "Installation instruction for landing page dependencies advises insecure behaviour"
The README.md for the landing page features unsightly advice to just wget the dependencies and put them into `/usr`. While technically this works, it is neither secure nor elegant. Posting instructions like that will undermine credibility of the project.

First question that comes to mind, is: is it really necessary to manually download nodejs 14.15? Is the `nodejs:14` module, currently present in

[2020-12-12 11:11] ressonix commented on #16
We need to find a good way to setup automatic determination for a localization and language to display the content. There are a few services out there that offer such a feature, but most require you to point to their DNS servers.

Either something like that, or we add a dropdown in the footer with direct links to the various language base URLs.

[2020-12-12 11:20] ressonix commented on #18
Chances are people going to contribute to the site know how to install NodeJS on their respective distribution/platform or can search for instructions, so I don't think that section should necessarily be in the README. Perhaps we should just provide the list of requirements, dependencies and their versions.

What do you think @hbjydev?

[2020-12-12 11:35] hbjydev commented on #18
To be honest, the only requirements really are Hugo and Node, so we could probably replace that whole section with that. But yeah, if you're gonna make a PR, go for it

[2020-12-12 12:07] domingoruiz commented on #18
The default version of centos8 node is 12. For Hugo to work correctly, he needs version 14, therefore the manual installation of packages.

[2020-12-12 12:20] rkujawa commented on #18
You can trivially enable version 14.

[code]

[2020-12-12 12:55] #16 closed

[2020-12-12 13:02] #18 closed

[2020-12-12 13:04] hbjydev commented on #17
Thanks for making this an issue @ressonix, I was just trying to remember what Brian asked me about :smile:

[2020-12-12 13:05] hbjydev commented on #17
@brianclemens Are we sure we want to come off as "hostile" about the project? I don't think that's a good way to go. We're trying to build its successor, 'off our own merit' as Greg said. I feel like this turns it into spite.

[2020-12-12 13:34] brianclemens commented on #17
That's a good point @hbjydev. Best not to raise the temperature.

[2020-12-12 13:34] #17 closed

[2020-12-12 17:46] hbjydev opened #26 "404 page only renders English"
https://rockylinux.org/es/3hiubnwna

Page will be an English 404, not a Spanish 404.

[2020-12-12 17:47] domingoruiz opened #27 "Language picker doesn`t work"
Hi. My default language is Spanish, but when I change it for English the site appears in Spanish. I don't know what will be happening

[2020-12-12 17:49] domingoruiz commented on #26
It`s a Hugo Bug. You can see it in https://github.com/gohugoio/hugo/issues/3075

[2020-12-12 17:50] hbjydev commented on #27
Can't reproduce on my end. Non-issue?

[2020-12-12 17:51] hbjydev opened #28 "Automatic locale detection & redirect"
We want to have it so if someone connects from Spain, they get redirected to the `/es` version of whatever page they're trying to view.

[2020-12-12 17:53] domingoruiz commented on #26
If the error exists. What happens that to see the error you have to have the default language in the browser Spanish

[2020-12-12 17:53] domingoruiz commented on #27
If the error exists. What happens that to see the error you have to have the default language in the browser Spanish

[2020-12-12 17:55] domingoruiz commented on #28
This has already been implemented for a long time. https://github.com/rocky-linux/rockylinux.org/commit/c76f136baf328a61beddc3f67f39244737194e32

[2020-12-12 17:58] ressonix commented on #27
I think it's a result of the script you added for checking the preferred language in your previous PR @domingoruiz. That may end up being an issue.

[2020-12-12 18:00] domingoruiz commented on #27
The problem is that the language selector is incompatible with the automatic selector. This is because they have been developed separately. Someone has to find a way to integrate both so that they coexist correctly.

[2020-12-12 18:00] hbjydev commented on #28
https://github.com/gohugoio/hugo/issues/5161#issuecomment-606867384

[2020-12-12 18:01] #28 closed

[2020-12-12 18:02] ressonix commented on #27
Just don't change the aesthetics of the drop-down

[2020-12-12 18:04] domingoruiz commented on #27
Ok. I go to solve It.

[2020-12-12 18:11] ressonix opened #29 "Update Get Involved Link"
Current link points to the old GitHub location, but has since been moved to the Wiki: https://wiki.rockylinux.org/contributing

I'll get this fixed shortly.

[2020-12-12 18:16] domingoruiz commented on #27
[https://github.com/rocky-linux/rockylinux.org/pull/30](https://github.com/rocky-linux/rockylinux.org/pull/30)

[2020-12-12 18:17] domingoruiz commented on #29
Solved on [https://github.com/rocky-linux/rockylinux.org/pull/30](https://github.com/rocky-linux/rockylinux.org/pull/30)

[2020-12-12 18:25] #29 closed

[2020-12-12 18:27] hbjydev commented on #26
This isn't a hugo bug -- I need to configure Vercel to do path-based 404 pages.

[2020-12-12 18:33] fabaff opened #33 "i18n Megathread"
This is a meta-issue for adding new langues to keep the organizational overhead to a minimum.

The [Contributing guidelines](https://github.com/rocky-linux/rockylinux.org/blob/main/CONTRIBUTING.md) says to open an issue before creating a PR. If you want to add a new language then please link to this issue.

[2020-12-12 18:39] #27 closed

[2020-12-12 21:42] #26 closed

[2020-12-12 23:55] Addvilz commented on #33
I am working on Latvian and Russian translation.

[2020-12-13 00:21] Addvilz opened #45 "UX - language switcher must use language-native names, and should have graphic indicator"
Currently, language switcher uses English language names for language naming. It also has no visual indicator to indicate this is a language switcher.

For a non-English speaker there is no way to determine that "Language" selector is in fact designed to switch locale. The same issue is with the language names - not everyone is expected to know Russian stands for Russian language, because of use o

[2020-12-13 01:07] #45 closed

[2020-12-13 01:22] Addvilz opened #47 "Social media icon colors"
Social media icons in light mode are a little bit too light and washed out. We might want to make them slightly darker.

[2020-12-13 01:30] ressonix commented on #47
Fixed with a0ce86d42ae2f205381565cda14fc78327a4dec4

[2020-12-13 01:30] #47 closed

[2020-12-13 04:12] hbjydev opened #50 "Use rebranded, self-hosted Rocky Fonts"
See repo [here](https://github.com/rocky-linux/rocky-fonts).

[2020-12-13 04:24] pxdnbluesoul commented on #50
I'm going to assign @ressonix to this as the compiling and including of assets without using GitHub as a CDN (which they don't like) may take some work outside of my wheelhouse.

[2020-12-13 07:51] ValentinoUberti opened #52 "Improve Italian translation"
Improve Italian translation

[2020-12-13 09:22] ressonix commented on #50
Since we're using Vercel to serve the current site, should we consider using it to serve the fonts, as well? What do you think @hbjydev?

[2020-12-13 11:22] ressonix commented on #50
If Vercel is fine for serving the fonts, I can just add the web fonts to the site repo so we don't have to bother with creating a separate Vercel deployment just for fonts (unless that's something you want). Just let me know when you get a chance what the plan is.

[2020-12-13 11:49] domingoruiz opened #60 "WeblateOrg for translations"
Hi. I have been searching the internet and I have found a free application that could help us with translations. This is WeblateOrg and I think it would be worth taking a look at it.
[https://github.com/WeblateOrg/weblate](https://github.com/WeblateOrg/weblate)

[2020-12-13 12:05] ressonix commented on #60
I believe it was decided in Slack not to use one right now, but it might come in handy since we have tons of translations coming in and have some disputes about them.

[2020-12-13 12:09] ressonix commented on #60
I see someone else mentioned this in a comment on  #55 and it appears that's what Fedora is using for theirs. What are your thoughts on the matter @hbjydev? It still might be too early for it, but this looks like a good option considering it's open-source.

[2020-12-13 12:11] fabaff commented on #60
I think weblate could be a way to go as the Fedora Project is using it and Fedora is the upstream. I mentioned some projects in the [forum](https://forums.rockylinux.org/t/about-the-localization-category/473/3?u=fab) which are using different solutions.

The Fedora Project started with `cvs` and `intltool`, went to Transifex, Zanata and is using weblate now.

I agree with @ressonix that this shoul

[2020-12-13 12:13] ressonix commented on #60
I'm going to convert this to a discussion, as it feels better suited for that at the moment.

[2020-12-13 12:13] #60 closed

[2020-12-13 15:59] ressonix opened #69 "Portuguese translation needs new PR to be re-tested"
After testing before making new changes live, we discovered that the Portuguese language resulted in a 404 error and wasn't immediately resolvable. Hugo gave the error, `WARN 2020/12/13 10:32:33 Failed to get translated string for language "pt"`. If you want to get this re-tested @dmarmelo, please do a new pull request to the `develop` branch with the translations so we can check it out.

[2020-12-13 16:47] #69 closed

[2020-12-13 16:53] dmarmelo opened #73 "Not auto selecting browser language when using country code in translation"
But there is still a problem, now it does note auto select the portuguese language because you are only checking the language and not the country code.

_Originally posted by @dmarmelo in https://github.com/rocky-linux/rockylinux.org/issues/70#issuecomment-744035551_

[2020-12-13 17:14] ressonix commented on #73
Fixed with #74

[2020-12-13 17:14] #73 closed

[2020-12-13 17:14] #52 closed

[2020-12-13 17:43] domingoruiz opened #77 "Feature: Add support languages ​​with xx_YY format"
We have a problem with languages ​​that have the xx_YY format, so I think we should find a solution. I open the incident since I am going to find a solution to this.

Thanks.

[2020-12-13 18:27] enmanuelmoreira opened #79 "Problem with portuguese translation: endless loop"
When the language has changed, the site enters in a endless loop and the page did not showing

![image](https://user-images.githubusercontent.com/152518/102020376-9ec39900-3d57-11eb-95e4-453ede7694e8.png)

[2020-12-13 18:28] domingoruiz commented on #79
It is in resolution at [https://github.com/rocky-linux/rockylinux.org/issues/77](https://github.com/rocky-linux/rockylinux.org/issues/77)

[2020-12-13 18:55] jkwong opened #83 "Feature: Add blog section with RSS feed"
This will help get the word out on releases and other news announcements that includes RSS feeds.

[2020-12-13 19:01] ressonix commented on #77
This is fixed with #81

[2020-12-13 19:01] #77 closed

[2020-12-13 19:01] ressonix commented on #79
It actually just got resolved in #81 just a few moments ago. As soon as someone approves the changes, it'll be on the live site.

[2020-12-13 19:01] #79 closed

[2020-12-13 19:38] hbjydev commented on #50
Yeah, Vercel has its own built-in CDN, so we're fine using that @ressonix

[2020-12-13 19:48] ressonix commented on #50
Okay, I'll get started on that shortly.

[2020-12-13 20:14] ressonix commented on #83
A blog will eventually happen, but I don't think we're ready to roll that out just yet. I also believe there were talks of using a more dynamic solution like Ghost for the blog, but it's also possible we'll just use Hugo for it. Many thanks for your input! :))

[2020-12-13 20:14] #83 closed

[2020-12-13 21:21] ressonix commented on #50
46bc0a65874b96f863938c0745945b91c815f61f implements the new Rocky fonts, it's in the `develop` branch ready to be pushed to `main` when you're ready

[2020-12-13 21:21] #50 closed

[2020-12-14 09:42] aerfanr opened #99 "Right-to-Left support"
There is no Right-to-Left support and currently, Persian and Arabic translations are not readable.
This is easily fixable by adding auto direction to HTML elements.
I have already done the fix in a forked repo and I am ready to submit a PR.

[2020-12-14 09:54] ressonix commented on #99
Feel free to go ahead and submit the PR to the `develop` branch and reference this issue and we'll test it and merge if it doesn't interfere with anything.

[2020-12-14 10:48] #99 closed

[2020-12-14 10:49] ressonix opened #102 "Icon improvements for RTL"
Currently, the social icons in the footer have some spacing issues when in RTL, I'm creating this issue for tracking while I work on improvements.

[2020-12-14 11:00] #102 closed

[2020-12-14 15:37] HeinKhantZaw opened #110 "Add Issue + PR templates"
I guess there should be templates for opening issues and creating pull requests as it enhances the workflow of the repository.

[2020-12-14 15:57] ressonix commented on #110
Assigning this to @hbjydev since he has access to add these if needed.

[2020-12-14 15:59] HeinKhantZaw commented on #110
Ahh..Actually, I'm working on it right now. Can I make pull request if I finish it?

[2020-12-15 01:16] MrTeaM opened #116 "Duplicate phrase in pt-BR"
Hello,

In the line below referenciacted, has a "para obter" twice

https://github.com/rocky-linux/rockylinux.org/blob/9fed179bde0ebb5ccdc386c92b20bf5b473f32f8/i18n/pt-BR.toml#L59

[2020-12-15 02:01] enmanuelmoreira commented on #116
Solved in PR #117

[2020-12-15 08:07] domingoruiz commented on #116
@ressonix Close this issue, the pull request is already merge, please.

Thanks

[2020-12-15 08:12] ressonix commented on #116
I actually reverted it because of another change. Mind submitting another PR @MrTeaM?

[2020-12-15 08:20] ressonix commented on #116
Just make sure your branch is up-to-date with the `develop` branch, please.

[2020-12-15 08:42] #110 closed

[2020-12-15 09:37] t-msyk opened #124 "Some Japanese translation are unnatural"
There are some unnatural japanese.
e.g.
- "Forums" ->  "フォーラム". But "Forums" is correct because of proprietary noun.
- "So where does Rocky Linux come in?" -> "Rocky Linuxはどの場所に位置しますか？".
  This asks "Rocky Linux's location.", but correct meaning should be "Rocky Linux's role".

[2020-12-15 09:40] shadonna-bossy commented on #10
[@sha256 is the owner and I'm not a developer at all neither or my children but I've gotten lost in this mess trying to work from home and I'm a student. Somehow my account is all over the place and someone is profiting from my accounts that I'm trying to find. If you can help me I need help but I'm not trying to pay anymore money I've been swindled enough. My next step is to go to the FTC since t

[2020-12-15 09:51] t-msyk commented on #124
Hi, English natives, I need your help.
I beg your pardon for my disester English :)

I have a question about "enterprise-grade" meaning in "A community-driven effort to bring you enterprise-grade, production-ready Linux."
This means "Enough solid and enouph stable to use enterprise poepose" ?

Now this is translated "企業向けの本番環境に対応したLinux。".
This Japanese contains nuance "Linux which only aimed in E

[2020-12-15 10:15] hbjydev commented on #124
Hi, yeah, it's essentially as you described.

[2020-12-15 10:18] t-msyk commented on #124
Thank you for your work!

[2020-12-15 11:14] #124 closed

[2020-12-15 11:30] domingoruiz opened #127 "Implementation of Google Analytics"
Hello, since we are implementing so many translations to reach many people, I think it would be a good idea to implement google analytics or some alternative to know how many people we are reaching and how they interact with the site. For this we would have to create a google account and link it to the site. In addition to this, we would have to prepare a banner that warns of the use of cookies.

[2020-12-15 11:34] ressonix commented on #127
I don't think Google Analytics is a good thing for the project because of privacy concerns, but there are alternatives that are privacy oriented out there that other distributions use like [Plausible](https://github.com/plausible/analytics).

[2020-12-15 11:35] plaimbock commented on #127
How about using https://matomo.org/ which has built-in GDPR functionality?

[2020-12-15 11:36] domingoruiz commented on #127
Yes, I think Google Analytics is not the best option, but I think you have understood the idea that we should implement an alternative to at least know how the interaction with the site is being.

[2020-12-15 11:38] hbjydev commented on #127
Bear in mind, TRLF has a Google Workspaces setup, so creating a Google account to link to it wouldn't be a concern for us.
In theory nor would the privacy as long as we set it up correctly.

[2020-12-15 11:40] domingoruiz commented on #127
I also don't think anything happens to use Google Analytics as long as everything is configured correctly, but hey, that's already a team decision. What is clear that if some form of follow-up should be implemented and also some way of making that information accessible to everyone on the team.

[2020-12-15 11:40] ressonix commented on #127
I guess the biggest concern for me about Google Analytics is that more and more browsers are implementing popups to tell the user if there are trackers on the website and it might set off a red flag to someone if they see Google Analytics, regardless of how we set it up.

Plausible, the alternative I put above, doesn't use cookies, nor store IP addresses.

[2020-12-15 11:42] ressonix commented on #127
What's also neat about Plausible is that you can setup a public analytics page for everyone to view, no need to be logged in. It would increase transparency and give insights to visitors about who visit the website.

[2020-12-15 11:45] domingoruiz commented on #127
I like all that you are commenting on Plausible. I think its implementation would be worth studying.

[2020-12-15 12:03] ressonix commented on #127
Don't get me wrong, I'm not completely opposed to Google Analytics, I'm just concerned that it may put off some users if they see we're using it on the site. If we do choose to use Google Analytics, I think we should make a pretty clear privacy policy that outlines what it's being used for.

[2020-12-15 12:07] #116 closed

[2020-12-15 16:43] wobbit commented on #127
+1 for Matomo, great analytics platform and good alternative to GA. They seem to have non-profit pricing for their cloud offering if Rocky don't want to roll their own server.

Don't forget if Rocky are adding tracking there'll need to add in some form of Cookie banner to cover EU cookie law. I've used OneTrust before which worked well for that if you just want something "out of the box".

[2020-12-15 16:57] pxdnbluesoul commented on #127
I would generally agree that using Google Analytics and seeing the notification as such that the script was blocked could affect perception around the site. Since we're looking at self-hosted tools for static site generation and hosting I think we should ensure we can attach an analytics system with minimal work. Plausible does look good in that regard and looks like it has the core features that

[2020-12-16 17:31] hbjydev opened #133 "Static Content"
**Is your feature request related to a problem? Please describe.**

We're reaching a point where we need to start having other pages and a blog of some sort.

**Describe the solution you'd like**

We need to implement a static content section of the page for blog posts, pages, etc. that Hugo will build for us with each release.

**Describe alternatives you've considered**

- A separate blog site t

[2020-12-16 17:40] hbjydev opened #134 "WeblateOrg for translations"
@domingoruiz

@fabaff

---

This should be investigated. If it works well for Fedora, I'm interested in seeing how it works and if it would benefit us.

I'm not putting a deadline or anything on this, but it should be look into relatively soon because we're rapidly approaching a point where maintaining language files for every piece of text on our site is going to become unsustainable.

[2020-12-16 18:39] ressonix commented on #133
I'd be happy to review and make any necessary improvements this once you get the basics implemented @hbjydev. Things like comments, tags, and categories views and sidebars could be something I could attempt to implement, as well.

[2020-12-16 19:42] domingoruiz commented on #134
Hi. I think it would be worth setting up a weblate on a test server, to test it and see its internal functioning. Once we learn how to use it and see that it is usable, we can proceed with its implementation.

[2020-12-16 19:45] domingoruiz commented on #133
I think the blog could be set up with static entries. You can create a model html file, and each time we want to create an entry it is as simple as cloning that file.

It is an option. Post publications could be done through pull request. If you like the idea, you could open an issue and a pull request to make a draft of that template. And in case you like to create a manual on how to create input

[2020-12-17 08:37] wobbit commented on #133
Jekyll can be used as to generate blog sites (and it has multilingual support). Could be setup on blog.rockylinux.org while the main site is kept on Vercal (or whatever will be once moved).

Once it's setup the blog entries are simple markdown so any editor will be able to generate content.

[2020-12-17 08:53] hbjydev commented on #133
@domingoruiz @wobbit Hugo also has that capability -- it's already implemented on the `static` branch.

[2020-12-17 13:49] Joorem opened #142 "Fix FR translation"
This issue is related to #33. There is a little typo in `i18n/fr.toml` where a word is not correctly accorded:

[code]

`prêt` should be accorded to `distribution` which is a feminine word (in French).

Accordingly to your contributing guidelines I didn't created a PR but everything is ready on my side.

[2020-12-17 14:08] ressonix commented on #142
Feel free to go ahead and do your PR, just link it to this issue. :))

[2020-12-17 14:26] #142 closed

[2020-12-17 18:42] domingoruiz opened #146 "Internationalisation doesn't work on the static content system"
## Describe the bug
In the new static branch multilanguage does not work. The site starts up, and you can see the home page in all languages, but when you enter the post section, a 404 error appears in all languages ​​except English.

## To Reproduce
Steps to reproduce the behavior:
1. Hugo server
2. Choose any language other than English.
3. Click on post.

[2020-12-17 19:28] ressonix commented on #146
This functionality is still a work in progress, we are just getting started with it, so this will be resolved before going to the `develop` branch. Thanks!

[2020-12-17 22:32] XescoAlarcon opened #149 "Added Catalan language support"
Added Catalan language support #33

[2020-12-18 09:38] domingoruiz commented on #146
[https://github.com/rocky-linux/rockylinux.org/pull/157](https://github.com/rocky-linux/rockylinux.org/pull/157)

[2020-12-18 11:51] bittin commented on #33
I am kinda busy, so can't look at the Swedish translation before Sunday or Monday, so would be nice if someone with some more time could check now

[2020-12-18 12:32] ressonix commented on #146
Okay, so our current problem with implementing the blog section of the site is that if Hugo doesn't see a post targeted for a specific language, it won't generate the files for that language. This is a problem, because we don't currently plan on translating blog posts to other languages. If anyone has experience with a solution in which we could get Hugo to generate the files without needing to cr

[2020-12-18 15:07] domingoruiz commented on #146
The solution consisting of add language identifier to the end of the URL is tested?

Thanks

[2020-12-18 17:16] ValentinoUberti opened #159 "Typo for the Italian language"
## Description
Typo for the Italian language. The word 'upstream' is written twice in a row

[2020-12-18 17:23] #159 closed

[2020-12-18 17:25] ressonix commented on #146
Yes @domingoruiz I tested it on my end, it basically will force the site to be displayed in English, resulting in the successful display of the blog post. It's a bit simple, but wouldn't require any additional steps from content creators. We want to make sure it's as easy as possible to create content, no scripts, nothing other than adding the markdown files.

This is going to be a last resort opt

[2020-12-18 17:34] #149 closed

[2020-12-18 20:55] zklosko commented on #133
I want to echo @wobbit's recommendation for Jekyll. We can even host it out of this repo for free. Not sure what we would do for distributing ISOs though...

[2020-12-21 09:27] hbjydev commented on #33
I'm now at a point where I don't want to accept any more i18n PRs, simply because it's going to become FAR too unmaintainable, so I'm going to prioritise #134 and close this issue.

[2020-12-21 09:27] #33 closed

[2020-12-21 09:33] hbjydev commented on #134
Now I want to prioritise this, and I have access to a set of servers to do it with. I'll begin investigations after work today.

[2020-12-21 09:34] bittin commented on #134
Can you ping me when the Weblate is up?, so i can implement the changes there

[2020-12-21 10:06] hbjydev commented on #134
@bittin What changes?

[2020-12-21 10:09] bittin commented on #134
@hbjydev some spelling and sentences changes for the Swedish website

[2020-12-21 10:21] hbjydev commented on #134
https://docs.weblate.org/en/latest/formats.html#go-i18n-json-files

[2020-12-21 15:05] domingoruiz commented on #146
I think that this issue can be closed...

Thanks

[2020-12-22 18:54] #146 closed

[2020-12-24 17:14] domingoruiz commented on #134
[https://github.com/rocky-linux/rockylinux.org/pull/174](https://github.com/rocky-linux/rockylinux.org/pull/174) @ressonix @hbjydev

[2020-12-25 09:40] kevych opened #175 "Ukrainian and Swedish translations deleted"
When moving translation files from .toml to .json format, Ukrainian and Swedish language files were lost.
Commit where the change was introduced:
https://github.com/rocky-linux/rockylinux.org/commit/8dc7e55e03deed9aae626cd11d7de5d8010a121f

Steps to reproduce the behavior:
1. Go to home page.
2. Pick Svenska or Українська language.
3. Page goes to infinite loop.

[2020-12-25 09:43] domingoruiz commented on #133
[https://github.com/rocky-linux/rockylinux.org/pull/176](https://github.com/rocky-linux/rockylinux.org/pull/176) @ressonix @hbjydev

[2020-12-25 09:53] domingoruiz commented on #175
@kevych I just fixed it here: [https://github.com/rocky-linux/rockylinux.org/pull/177](https://github.com/rocky-linux/rockylinux.org/pull/177)

Thanks for advising

[2020-12-25 10:10] domingoruiz opened #178 "Comment system implementation"
**Is your feature request related to a problem? Please describe.**

For our post system we need a system that manages comments. Ideally, look for an alternative that does not require a server or maintenance on our part.

**Describe the solution you'd like**
I propose Disqus. It is very easy to implement, with only a few lines, and the result is very good.

![Screenshot 2020-12-25 at 11 10 05](http

[2020-12-25 13:42] hbjydev commented on #175
This will be resolved with @domingoruiz's merge.

[2020-12-25 13:42] #175 closed

[2020-12-25 16:30] ressonix commented on #178
Closing per #176

[2020-12-25 16:30] #178 closed

[2020-12-25 16:33] ressonix commented on #133
For comments, I think we should look into Isso. It's self-hosted, and can be installed and integrated with Hugo. This would minimize risk with third-parties. Disqus is the default in Hugo, but Disqus constantly receives scrutiny because it seems to control what comments can be posted.

Isso Website: https://posativ.org/isso/
Integrating with Hugo: https://stiobhart.net/2017-02-24-isso-comments/

[2020-12-25 17:19] zklosko commented on #133
For comments, I suggest we use Utterances: https://github.com/utterance/utterances. It uses GitHub Issues as comment threads, but requires commenters to login using GitHub. All comments are stored publicly in the site's repo.

No external plugins needed, just setup for the GitHub repo and embed vanilla JS and HTML.

[2020-12-25 17:24] ressonix commented on #133
That looks like a neat option, as well @zklosko! I've never used it before, but it definitely sounds interesting. I'm not sure if we'd want to clog up the repo with issues, though. That's my only concern there.

[2020-12-25 17:29] zklosko commented on #133
@ressonix that's a good point. Maybe we can set a way to have all comment "issues" have "comment" tags so they can be easily filtered. This is also a separate repo from the main repo, just for the website, but if that isn't enough I suppose we could start a new repo just for comments.

There's a better onboarding form here: https://utteranc.es/

[2020-12-26 08:05] domingoruiz commented on #178
I don't understand why it closes the issue. The problem of the comments we still have, it is not solved yet. In fact this issue was opened after the pull request was closed.

Thanks.

[2020-12-26 22:10] ressonix commented on #178
It was closed as it's being tracked in #135 already. :)

[2020-12-28 01:35] hbjydev commented on #133
@zklosko I like the idea of using that, and it'd be easy to implement.

I'd also like to raise https://remark42.com/ -- it's something I saw earlier. Might require some server-side modifications (various reasons) but it would do the job as a comment system and allows us to have "verified" users to ensure people aren't able to spoof being one of the core team and spam obscenities.

[2020-12-28 02:20] zklosko commented on #133
That does look a little better. There's no spam protection on Utterances as far as I can tell.

[2020-12-28 02:37] hbjydev commented on #133
@zklosko True -- authentication would be on GitHub, so any GH spam would go through

[2020-12-28 03:40] zklosko commented on #133
Does GH TOS help to protect us through spam?

[2020-12-28 04:09] hbjydev commented on #133
We've had to lock down issues & replies on some of the other repos several times due to spambotting, so I'm gonna guess no on that haha

[2020-12-28 04:45] hbjydev commented on #134
This is sort of done now -- we have an instance configured and accessible, but it's not a 100% guaranteed permanent thing. We're waiting to hear back from Weblate about a hosted offering to replace our self-hosted instance. Until then, the Weblate instance at weblate.rockylinux.org serves as more of an overview page for now because SMTP isn't configured (meaning nobody can sign up as you can't ver

[2020-12-28 04:45] #134 closed

[2020-12-28 06:09] ressonix commented on #133
I found another interesting comment solution called [Staticman](https://staticman.net). It acts as a bridge between web pages and the GitHub repository where the code for the website lives.

This sounds like a super neat option and doesn't require much configuration. See here: https://staticman.net/docs/getting-started.html

Their site specifically targets Jekyll it appears, however they also supp

[2020-12-28 06:11] ressonix commented on #133
I should also mention that this would reduce the amount of SPAM, as we can also use something like ReCAPTCHA on the site, and it appears only comments posted via the form on the site will be published if approved.

[2020-12-28 11:26] hbjydev commented on #133
That one's too much work, I think. Having to approve every comment sounds like a nightmare given our scale

[2020-12-28 15:29] hbjydev commented on #133
Okay -- for now, we're not going to be implementing a comments system. Instead, we'll be redirecting people to the forums to discuss things.

Whether this will change or not, I don't know. But for now, no comments.

[2020-12-28 15:29] hbjydev commented on #133
Which means we can now merge!

[2020-12-28 15:30] hbjydev commented on #133
There's a couple of things that need fixing, but I'm going to track those in other issues.

[2020-12-28 15:30] #133 closed

[2020-12-28 15:33] hbjydev opened #183 "i18n on Posts index is broken"
## Describe the bug
On the localised site, if you go to the post index, it will send you back to the homepage straight away.

## To Reproduce
If you go to `/<lang>/posts`, it redirects you to the homepage.

## Expected behavior
It should redirect you to a locale-specific post index (although the posts won't be localised -- far too much work involved)

## Screenshots
N/a

## Device Information
N/a

[2020-12-28 18:52] zklosko commented on #133
@hbjydev Shooting for the moon here... would we be able to have a link for each blog page to take the reader to an accompanying page on the forum? This may require us to autocreate a new forum page per new blog post. Thinking of the "Help edit this page" link that takes you to editing the markdown for the page on Github Docs, Jekyll Docs, etc.

[2020-12-28 19:09] ressonix commented on #133
@zklosko I actually found a way to integrate Discourse as comments for the accompanying topic, so I think that could be an option. Check it out: https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

[2020-12-28 19:10] ressonix commented on #133
It provides a "Continue Discussion" button and will take you to the accompanying page on Discourse.

[2020-12-28 19:11] ressonix commented on #133
Here's a working example (sorry, forgot to post it originally): https://blog.codinghorror.com/welcome-to-the-internet-of-compromised-things/#discourse-comments

[2020-12-28 19:39] zklosko commented on #133
That looks like a better idea 👍

[2020-12-30 04:51] bittin commented on #134
Signed up yesterday

[2020-12-30 14:01] domingoruiz commented on #183
I do not understand the incidence very well, I think it is not necessary. When you are on the home page of any language (in my case Spanish) the post link redirects you to the correct site. Therefore I don't think it is necessary for /<lang>/posts to work, since the posts will always be on the /posts/ page.

![Screenshot 2020-12-30 at 14 59 03](https://user-images.githubusercontent.com/13834425/10

[2020-12-30 16:01] hbjydev commented on #183
@domingoruiz See my updated expected behaviour description

[2020-12-31 05:37] ressonix opened #186 "Implement CSP"
**Is your feature request related to a problem? Please describe.**

It's been suggested to implement a content security policy on the site to protect against injections.

**Describe the solution you'd like**

While this rarely occurs on static sites, it wouldn't hurt to implement it.

[2020-12-31 05:53] ressonix commented on #186
Fixed with 660bd39d4296cea0e4d58bad2643edf5f49cb73a

[2020-12-31 05:57] remyabel commented on #186
Hi, thanks for implementing this change. However, what you implemented adds no security benefit at all.

"unsafe-line" is effectively zero protection. You need to whitelist the resources the site uses and move any inline javascript to external files. I'll be happy to add a PR later, but not right now.

[2020-12-31 06:04] ressonix commented on #186
@remyabel As mentioned previously, we're using Hugo to generate values in the JavaScript, and Hugo templating cannot be used in JavaScript, unfortunately, meaning we'd need to hardcode the values, which won't be sustainable for various reasons.

While I appreciate the concern, the site doesn't really load any external resources (other than links), so this effectively shouldn't be a problem. I thin

[2020-12-31 06:11] remyabel commented on #186
What you did was hard-code it in the index.html file, but this [article](https://blog.jeremylikness.com/blog/create-content-security-policy-csp-in-hugo/) shows how you can generate it from Hugo. And a whitelist is going to involve hard-coding. It is a whitelist after all. I'm sure you can programmatically add to the whitelist but that's beyond the scope of this discussion.

XSS is only one attack

[2020-12-31 06:14] remyabel commented on #186
On a side note, these are the [recommendations](https://docs.pagure.org/infra-docs/dev-guide/security_policy.html#security-headers) from the Fedora Infrastructure Application Security Policy. There's no harm in implementing these either.

[2020-12-31 06:18] ressonix commented on #186
Are you referring to the header? I'm not talking about hard-coding the CSP values, I'm talking about hardcoding the JavaScript data generated by Hugo.

Feel free to open a PR later and link this issue. I'm not against a CSP, I just think you misunderstood what I was talking about in terms of the inline JavaScript.

[2020-12-31 06:19] ressonix commented on #186
A hash for the inline JavaScript would be sufficient in this case, I would think, though.

[2020-12-31 07:21] ressonix commented on #186
I realize I didn't come across quite clearly. Basically we have Hugo generating some of the data in the inline JavaScript. Due to this, every time someone adds a new language to our site, the data changes. This will prevent us from creating a hash for the inline JavaScript without updating it for every PR. Does that make sense?

We're using StaticDeploy to deploy the site, so maybe @hbjydev can se

[2020-12-31 07:24] ressonix commented on #186
Really the only valid option would be to use a nonce at this point.

[2020-12-31 07:50] ressonix commented on #186
Well, I started improving the header inline, but I think I've hit a roadblock. Alpine.JS requires eval to function, and would force us to use "unsafe-eval".

[2020-12-31 07:51] ressonix commented on #186
For reference: https://github.com/theNewDynamic/thenewdynamic.com/issues/110

[2020-12-31 07:53] ressonix commented on #186
From reading the issue linked in the aforementioned issue, it appears that they will implement measures in v3 to prevent issues with CSP, but for now we'll be forced to use 'unsafe-eval'.

[2020-12-31 07:56] ressonix commented on #186
I went ahead and implemented 3c8f3494848e32bebf3e20bb98471df4c42858dc. Let me know if you have any suggested improvements.

[2020-12-31 13:53] remyabel commented on #186
For the inline JavaScript a few approaches come to mind:

1. Enforce changing the hash whenever adding a new language. Sure this is annoying, but no different than enforcing i.e linting changes. Since the hash will no longer match it will be immediately obvious when it breaks
2. Automate/script it somehow
3. Use [Hugo Pipes](https://gohugo.io/hugo-pipes/js/) to process the JavaScript. I'm not fami

[2020-12-31 15:51] hbjydev commented on #186
I'm sorry, but I fail to see why we would need CSP support in this project. @remyabel Can you enlighten me here? It's a completely static site with no backend, so there's no risk in terms of data unless the end user has installed a virus that hacks its host through JavaScript files in a specific browser, which for _everyone_ is extremely unlikely.

And plus, anything that we have to 'enforce' or d

[2020-12-31 15:51] #186 closed

[2020-12-31 16:26] remyabel commented on #186
It doesn't matter if it's a static website or not. It was already pointed out that alpinejs requires `unsafe-eval` which is an XSS vector. I also don't really consider the likelihood of a vulnerability to be that big of a factor. I lock my front door to keep people out no matter how unlikely it is that someone will break in.

Anyway, I understand that based on the reasoning you gave implementing t

[2021-01-02 16:27] domingoruiz commented on #10
@hbjydev Can you link the issue to me to get to it?

Thank you.

[2021-01-02 16:29] hbjydev commented on #10
I don't think this page is something we really need. Let's take this to Slack and discuss there for now.

[2021-01-02 16:29] hbjydev commented on #10
We need to get the content/documentation team involved for pages like that.

[2021-01-05 01:04] jorp opened #189 "promote link to forums in the top navbar"
**Is your feature request related to a problem? Please describe.**

dscoverability of forums

**Describe the solution you'd like**

Place [`Forums`](https://forums.rockylinux.org/) link in the navbar with `Posts` and `Documentation`

**Describe alternatives you've considered**

N/A, exists in bottom icon navbar

**Additional context**

![Screenshot from 2021-01-04 20-01-10](https://user-images.git

[2021-01-07 09:45] #189 closed

[2021-01-07 17:54] rlhennig opened #191 "Add a sponsors page"
A number of organizations are offering to sponsor or otherwise support Rocky (such as Naver, and Mattermost), and have requested a way for us to indicate that on the site. Potential example of what something like this might look like: https://mattermost.com/customers/

Can we please get something similar implemented over at https://rockylinux.org? Thank you

[2021-01-07 17:57] hbjydev commented on #191
Does this need to be integrated with an external system? If so, we'll want to wait until that goes up. I'd rather not implement something half-baked only to completely replace it a day later, if possible.

[2021-01-07 18:17] ressonix commented on #191
@rlhennig says in Slack that the implementation is up to us, there doesn't appear to be an external system involved. @hbjydev

I can work on this today at some point if you are busy with other things

[2021-01-08 22:00] ressonix opened #192 "Implement i18n Solution for Sponsors Page"
## Description
I've added the sponsors page for us. At the moment, in order to achieve this, I've setup a specific template base for posts and changed the default to a general layout to work for this.

This method doesn't allow translation since functions can't be used in single page content with Hugo.

If someone has a better idea in implementing this, I'm all ears. Feel free to make a PR.

[2021-01-11 00:15] EzequielBruni opened #195 "Suggestion: Add info on migration to home page FAQ"
## Description
Add a bit to the home page FAQ to address migration from CentOS to Rocky Linux. It's the most common question I've personally seen in all of the community spaces.

I was going to fork / pull request, but I can't actually find the file with the FAQ content.

[2021-01-12 17:04] #191 closed

[2021-01-13 08:35] MrOffline77 opened #198 "i18n de typo"
## Describe the bug
There are two typos in german language in the i18n de file:

`Stragegie-Wechsel` => `Strategie-Wechsel`
`das zu 100% Bug-for-Bug-kompatibel` => `100% Bug-für-Bug-kompatibel`

I already fixed this in my fork. According to your contributing guide - let me know if I can create a PR against the development branch.

## To Reproduce
Steps to reproduce the behavior:
Open the page and

[2021-01-13 08:35] MrOffline77 opened #199 "i18/de typo"
## Describe the bug
There are two typos in german language in the i18n de file:

`Stragegie-Wechsel` => `Strategie-Wechsel`
`das zu 100% Bug-for-Bug-kompatibel` => `100% Bug-für-Bug-kompatibel`

I already fixed this in my fork. According to your contributing guide - let me know if I can create a PR against the development branch.

## To Reproduce
Steps to reproduce the behavior:
Open the page and

[2021-01-13 08:36] MrOffline77 commented on #199
duplicate of #198

[2021-01-13 08:36] #199 closed

[2021-01-16 18:53] rlhennig commented on #192
Please update the sponsors page to include a AWS logo. Thank you!

[2021-01-16 18:55] rlhennig opened #203 "Update Slack logo on the website footer"
The current footer shows the Slack logo, which links to our Slack, but as of Monday we'll be going public with Mattermost, so we need to change that logo to a MM one and have it refer to https://chat.rockylinux.org

[2021-01-16 18:58] rlhennig opened #204 "Publish Donations page"
Michael started working on the donations page, which is currently at https://rockylinux.z2systems.com/np/clients/rockylinux/donation.jsp

Please finish updating visual elements as necessary and publish. Let me know if you need anything to be done on the CRM side of things to enable that URL to be updated to something like donations.rockylinux.org (not sure where that change has to be made)

[2021-01-17 09:39] ressonix commented on #203
This has been resolved with e4af4a3bed395fe5d3994be80b5605a975f1bd6e

We can merge the `develop` branch into `main` on Monday to make it go live.

[2021-01-17 09:39] #203 closed

[2021-01-17 10:10] ressonix commented on #192
@rlhennig Updated in 41f236ccce950bafccd98e6ba4b03d10c6a47b70

[2021-01-17 10:34] ressonix commented on #204
I've added a Donate link to the footer in the `develop` branch, along with all of the other changes set to go out on Monday. See aaa1462f19fefedff6b41c6d0c2a1b5f317d332c

[2021-01-17 10:34] #204 closed

[2021-01-17 17:56] rlhennig opened #205 "Add button on donation page for logins"
The Donation page needs to have a button that people can click to login or create accounts. Here's the destination URL it should use: https://rockylinux.z2systems.com/np/clients/rockylinux/login.jsp

This way people can log in to the CRM and see/manage their donations

[2021-01-17 18:00] rlhennig opened #206 "Update copyright date on website footer to 2021"
Currently has 2020 in there:

 © 2020 The Rocky Linux Project. All rights reserved.

[2021-01-17 18:21] ressonix commented on #205
Okay, so I added the button to the template, but since the template is global and not specific to the donation page, the button is going to be visible on the login/registration and account pages, as well.

[2021-01-17 21:20] hbjydev commented on #195
I think we'll do this later on, but until we're a bit closer to release, I'm gonna triage as low-priority.

[2021-01-17 21:23] hbjydev commented on #206
This would need a bit of `sed` magic, as it's currently in the i18n files. `sed -i '/© 2020/© 2021/g' i18n/*.json` or something like that

[2021-01-17 21:29] EzequielBruni commented on #195
Fair enough.

[2021-01-19 22:48] ghost opened #209 "license issue"
since it is linux it cannot be BSD 3 clause it has to be only GPLv2 Only since it forks from Linux Kernel

[2021-01-20 08:55] hbjydev commented on #209
This is the website, nothing related to any of our Linux stuff. I'm closing this as wontfix.

[2021-01-20 08:55] #209 closed

[2021-01-20 10:04] #205 closed

[2021-01-20 10:14] #206 closed

[2021-01-20 18:36] Aboidrees opened #215 "Incompatible small screen display"
## Describe the bug
The page is not fit and also can not scroll from right to left and vice versa in small screen size in the portrait mode in but it looks good with the landscape option in the same mobile

## To Reproduce
Steps to reproduce the behaviour:
1. Go to https://rockylinux.z2systems.com/np/clients/rockylinux/donation.jsp
Using a mobile phone
4. See an error

## Expected behaviour
A clea

[2021-01-20 18:37] ressonix commented on #215
This is expected behavior. The CRM system used has restrictions on the width for the generated content. Therefore, I'm going to go ahead and close this as won't fix.

[2021-01-20 18:37] #215 closed

[2021-01-20 20:39] ressonix opened #216 "Language Picker Dropdown Doesn't Work"
## Describe the bug
When trying to change the language via the dropdown at the bottom of the page, nothing happens.

## To Reproduce
Steps to reproduce the behavior:
1. Select an option from the dropdown

## Expected behavior
To switch the language on the site.

## Screenshots
![image](https://user-images.githubusercontent.com/60057409/105231914-9ff59c00-5b35-11eb-93eb-2f245f29322d.png)

[2021-01-20 20:41] ressonix commented on #216
This issue was reported by a user in Mattermost and I was able to re-produce. Upon investigation, it appears the CSP is causing some issues. The problem was that the original implementation of the language picker used the built in onclick inline event, but because of the CSP, it won't allow it. I've since moved the event to the JavaScript that we had in the head section and it's working again.

[2021-01-20 20:48] #216 closed

[2021-01-21 22:44] rlhennig opened #219 "Add 'Press' page to website"
We have a bunch of press links relating to Rocky that I've put in this Excel file: https://web.tresorit.com/l/n2oSY#1hn0VzTetvCxy2NsJriWFA

Can we please get a 'Press' page added to the site with this information, and have the link sit at the top between 'News' and 'Wiki'? Thank you!

[2021-01-21 22:51] hbjydev commented on #219
Hi Leigh. Not too sure about this one, at least not for the header.

[2021-01-21 22:52] hbjydev commented on #219
I'm gonna be fairly protective of what actually goes in there for the sake of the UX remaining clean and logical, so if it's all the same to you this sounds more like footer content than navbar content.

[2021-01-22 10:22] oliveconstant opened #220 "RSS feed disoverability"
**Is your feature request related to a problem? Please describe.**

The RSS feed for the News page is not easily accessible.

**Describe the solution you'd like**

Maybe, a classic RSS feed [button](https://en.wikipedia.org/wiki/File:Feed-icon.svg#/media/File:Feed-icon.svg) could be added somewhere in the News page.

**Describe alternatives you've considered**

I think most RSS readers automatical

[2021-01-24 16:39] rlhennig commented on #219
I think the footer is probably fine? This was a Julia request.

[2021-01-24 16:40] hbjydev commented on #219
👍🏻

[2021-01-26 10:15] hbjydev opened #221 "Sponsor bar colour incorrect"
## Describe the bug

The sponsors bar is the same on light theme as it is on dark theme.

## Expected behavior

The sponsors bar should be the same colour as the "What is the Rocky Linux Project?" section

## Screenshots

![image](https://user-images.githubusercontent.com/22327045/105831830-1e7f8d00-5fbf-11eb-82c9-b97aa6ad58c1.png)

## Device Information

**Desktop (please complete the following i

[2021-01-26 10:18] ressonix commented on #221
This was intentional on my part. I originally had it the same color but because the images are grayscale some of them blend in and don't provide any contrast. Did you have any ideas on how to better implement that?

[2021-01-26 10:55] hbjydev commented on #221
We could use a media query to set the image colour perhaps?

[2021-01-26 10:55] hbjydev commented on #221
So on prefers-light we have a darker gray and on prefers-dark we have a lighter gray

[2021-01-26 18:28] ressonix commented on #221
That might work, I'll play around with it today and see what I can come up with.

[2021-01-27 01:49] ressonix commented on #221
I pushed some changes after playing around with it a bit. It should be live on the [develop preview site](https://rockylinux-git-develop.rocky-linux.vercel.app/). Let me know if that looks okay. :))

[2021-01-27 07:42] g-rocket opened #222 "Add the projected release date to the description on the main page."
The main "What is Rocky Linux" description on the homepage claims

As far as I can tell from the blog posts, the first release is projected for Q2 2021. It would be helpful if that was presented here, to provide more confidence in the project's viability.

[2021-01-27 09:52] hbjydev commented on #221
Maybe darken those a _tiny_ bit more @ressonix

[2021-01-27 16:13] ressonix commented on #221
Okay, check now

[2021-01-27 20:20] rlhennig opened #223 "Update donations link on homepage"
Hey there, Neon CRM got our domain sorted, so instead of that long URL https://rockylinux.z2systems.com/np/clients/rockylinux/donation.jsp on the header, we can use this instead now: https://donate.rockylinux.org

Thanks!

[2021-01-28 01:35] ressonix commented on #223
I've pushed the updated link to the `develop` branch for preview. Let me know if it looks good to you. I'll create a PR after we sort out the press stuff tonight.

[2021-01-28 02:44] #219 closed

[2021-01-28 02:44] #220 closed

[2021-01-28 02:44] #221 closed

[2021-01-28 02:44] #223 closed

[2021-02-05 16:26] rlhennig opened #228 "Create FAQ page"
The main landing page has a couple of questions under FAQ, but we recently drafted a more complete FAQ that needs to be published: https://docs.google.com/document/d/1cj8QntdFCd7x5w-CtK5jFc6thA4F22CI7vMaZJCY2tM/edit

Please see about the best way to present this on the website. Thank you!